<!-- always keep -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>
<!-- Contents -->
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow" id="card-container-tables">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Switch background -->
                            <label class="switch float-right">
                                <input type="checkbox" id="toggleTable" appToggleTable>
                                <span class="slider round"></span>
                            </label>
                            <h4 id="title-table" class="text-uppercase ls-1 mb-1">{{ 'MODULES.WINNER.TITLE' | translate }}</h4>
                        </div>
                        <div></div>
                    </div>
                </div>
                <!-- TABLE -->
                <div class="card-body" *ngIf="!showFormAddWinner">
                  <div class="row">
                    <div class="col-xxl-10 col-xl-10 col-lg-10 col-sm-6 col-12" >
                      <button *ngIf="mostrar" class="btn btn-primary btn-sm" (click)="addWinner()">{{ 'BUTTONS.ADD' | translate }}</button>
                      <button *ngIf="mostrar" class="btn btn-warning btn-sm" (click)="verDetalleNegocio()">Ver Detalle por Negocio</button>
                      <div class="row">
                          <div class="col-xl-2 col-lg-2 col-sm-4 col-4 ">
                            <button *ngIf="mostrarInChange" class="btn btn-warning btn-sm float-right mt-1" (click)="regresaPrincipal()">Regresar</button>
                          </div>
                           <div class="col-xl-8 col-lg-8 col-sm-4 col-4">
                            <div class="mb-3" tyle="font-size: small;" *ngIf="mostrarInChange">
                              <ng-select #rutasSelect [items]="dataNegocio" [selectOnTab]="true" name="Negocio"
                                  bindValue="id" bindLabel="nombre" placeholder="Seleccione Negocio"
                                  [selectableGroup]="true" (change)="onNegocioSeleccionado($event)">
                              </ng-select>
                          </div>
                           </div>
                          <div class="col-xl-2 col-lg-2 col-sm-4 col-4">
                            <button *ngIf="mostrarInChange" class="btn btn-primary btn-sm float-left mt-1" (click)="buscarNegocio()"><i class="fab fa-sistrix"></i> Buscar</button>
                          </div>
                      </div>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-sm-6 col-12 text-right">
                      <button class="btn btn-sm btn-warning" title="Exporta a PDF" (click)="exportToPDF()">
                        <i class="bi bi-filetype-pdf"></i>
                      </button>
                      <button class="btn btn-sm btn-warning" title="Exporta a Excel" (click)="exportToExcel()">
                        <i class="bi bi-file-earmark-excel"></i>
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive mt-2">
                      <table class="table align-items-center table-flush" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead class="thead-light" id="thead-table">
                          <tr>
                            <th scope="col" class="text-center">Fecha</th>
                            <th scope="col" class="text-center">Sorteo</th>
                            <th scope="col" class="text-center">Ganador</th>
                            <th scope="col" class="text-center">Inversion</th>
                            <th scope="col" class="text-center">Venta Total</th>
                            <th scope="col" class="text-center">Premio</th>
                            <th scope="col" class="text-center">Utilidad</th>
                            <th scope="col" class="text-center" >
                              Acciones
                            </th>
                          </tr>
                          <tr>
                            <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-fecha" (keyup)="searchData($event)"/></th>
                            <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-sorteo" (keyup)="searchData($event)"/></th>
                            <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-ganador" (keyup)="searchData($event)"/></th>
                            <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-inversion" (keyup)="searchData($event)"/></th>
                            <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-venta" (keyup)="searchData($event)"/></th>
                            <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-premio" (keyup)="searchData($event)"/></th>
                            <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-utilidad" (keyup)="searchData($event)"/></th>
                            <th scope="col" class="text-center" >
                            </th>
                          </tr>
                        </thead>
                        <tbody id="tbody-table">
                          <tr *ngFor="let item of data">
                              <td class="text-center">{{ item?.fecha |  date:'dd/MM/yyyy' }}</td>
                              <td class="text-center">{{ item?.sorteo?.nombre }}</td>
                              <td class="text-center">{{ item?.numeroGanador }}</td>
                              <td class="text-center">{{ item?.inversionAlGanador | currency:'C$' }}</td>
                              <td class="text-center">{{ item?.ventasTotales | currency:'C$' }}</td>
                              <td class="text-center">{{ item?.premioTotal | currency:'C$' }}</td>
                              <td class="text-center">{{ item?.utilidad | currency:'C$' }}</td>
                              <td class="text-right" >
                                <button *ngIf="mostrar"  class="btn btn-sm text-danger" placement="left" ngbTooltip="Eliminar" (click)="deleteWinner(item.id)" >
                                  <i class="bi bi-x-circle"></i>
                                </button>
                                 <button *ngIf="mostrarAdmin" class="btn btn-sm text-primary" placement="left" ngbTooltip="Detalle Vendedor" (click)="detalleVendedor(item)">
                                  <i class="fa fa-user-tie"></i>
                                </button>
                                <button *ngIf="mostrarAdmin" class="btn btn-sm text-danger" placement="left" ngbTooltip="Detalle Rutas" (click)="detalleRutas(item)">
                                  <i class="fa fa-route"></i>
                                </button>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
                <!-- FORM-->
                <div *ngIf="showFormAddWinner">
                  <app-addwinner (goBack)="close($event)"></app-addwinner>
                </div>
            </div>
        </div>
    </div>
</div>
