.header {
    .toggle-content {
        position: absolute;
        top: 0;
        right: 20px;

        .checkbox {
            opacity: 0;
        }
        img {
            height: 25px;
            width: 25px;
        }
        .checkbox:checked + .label-toggle .ball {
            transform: translateX(24px);
            -webkit-transform: translateX(24px);
            -moz-transform: translateX(24px);
            -ms-transform: translateX(24px);
            -o-transform: translateX(24px);
}
        .label-toggle {
            background: #f5365c;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            padding: 2px;
            height: 30px;
            width: 58px;
            border: 1px solid #ccc;
        }
    
        .ball {
            background-color: #32325d;
            border-radius: 50%;
            position: absolute;
            // top: 2px;
            left: 4px;
            height: 26px;
            width: 27px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}