<!-- always keep -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Contents -->
<div class="container-fluid mt--9">
  <div class="row">
      <div class="col-12 mb-5 mb-xl-0">
          <div class="card shadow" id="card-container-tables">
              <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col">
                          <!-- Switch background -->
                          <label class="switch float-right">
                              <input type="checkbox" id="toggleTable" appToggleTable>
                              <span class="slider round"></span>
                          </label>
                          <h4 id="title-table" class="text-uppercase ls-1 mb-1">Recibos</h4>
                      </div>
                      <div></div>
                  </div>
              </div>
              <!-- CARD -->
              <div class="container mb-5">
                <div class="table-responsive mt-2">
                  <table class="table align-items-center table-flush" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead class="thead-light" id="thead-table">
                      <tr>
                        <th scope="col" class="text-center">Codigo Recibo</th>
                        <th scope="col" class="text-center">Sorteo</th>
                        <th scope="col" class="text-center">Fecha</th>
                        <th scope="col" class="text-center">Hora</th>
                        <th scope="col" class="text-center">
                          Acciones
                        </th>
                      </tr>
                      <tr>
                        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-codigo" (keyup)="searchData($event)"/></th>
                        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-sorteo" (keyup)="searchData($event)"/></th>
                        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-fecha" (keyup)="searchData($event)"/></th>
                        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-hora" (keyup)="searchData($event)"/></th>
                        <th scope="col" class="text-center">
                        </th>
                      </tr>
                    </thead>
                    <tbody id="tbody-table">
                      <tr *ngFor="let item of data">
                          <td class="text-center" [style.color]="item.pasivo ? '#ff0000': ''">{{ item?.codigo}}</td>
                          <td class="text-center">{{ item?.sorteo?.nombre }}</td>
                          <td class="text-center">{{ item?.fecha |  date:'YYYY/MM/dd' }}</td>
                          <td class="text-center">{{ item?.hora}}</td>
                          <td class="text-right">
                            <button class="btn btn-sm text-primary" placement="left" ngbTooltip="Ver Detalle" (click)="detalle(item.ventaDetalles)">
                              <i class="fas fa-eye"></i>
                            </button>
                            <button class="btn btn-sm text-primary" placement="left" ngbTooltip="Ver Detalle" (click)="deleteVenta(item)">
                              <i class="fas fa-trash"></i>
                            </button>
                          </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              </div>
          </div>
      </div>
  </div>
</div>
