<!-- always keep -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Contents -->
  <div class="container-fluid mt--9">
    <div class="row">
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow" id="card-container-tables">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Switch background -->
                            <label class="switch float-right">
                                <input type="checkbox" id="toggleTable" appToggleTable>
                                <span class="slider round"></span>
                            </label>
                            <h4 id="title-table" class="text-uppercase ls-1 mb-1">{{title}}</h4>
                        </div>
                        <div></div>
                    </div>
                </div>
                <!-- CARD -->
                <div class="container mb-5">
                    <mat-tab-group  (click)="especialView(true)">
                        <mat-tab label="Normal">
                         <app-normal></app-normal>
                        </mat-tab>
                        <mat-tab label="Especial">
                        <app-especial *ngIf="view"></app-especial>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
  </div>
