<!-- always keep -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<!-- Contents -->
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow" id="card-container-tables">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Switch background -->
                            <label class="switch float-right">
                                <input type="checkbox" id="toggleTable" appToggleTable>
                                <span class="slider round"></span>
                            </label>
                            <h4 id="title-table" class="text-uppercase ls-1 mb-1">{{ 'MODULES.SUPPORT.TITLE' | translate }}</h4>
                        </div>
                        <div></div>
                    </div>
                </div>

                <br><br>
                <div class="row">
                  <div class="col-3" style="margin: auto">
                    <button class="btn btn-primary" (click)="findPrinter()">Discover Printer</button>
                    <button class="btn btn-success mt4" (click)="print()">Print</button>
                  </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>
