<!-- always keep -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>
<!-- Contents -->
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow" id="card-container-tables">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Switch background -->
                            <label class="switch float-right">
                                <input type="checkbox" id="toggleTable" appToggleTable>
                                <span class="slider round"></span>
                            </label>
                            <h4 id="title-table" class="text-uppercase ls-1 mb-1">{{ 'MODULES.BUSINESS.TITLE' | translate }}</h4>
                        </div>
                        <div></div>
                    </div>
                </div>
                <!-- TABLE -->
                <div class="card-body" *ngIf="!showForm">
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-primary btn-sm" (click)="add()">{{ 'BUTTONS.ADD' | translate }}</button>
                    </div>
                    <div class="col-6 text-right">
                      <button class="btn btn-sm btn-warning" title="Exporta a PDF" (click)="exportToPDF()">
                        <i class="bi bi-filetype-pdf"></i>
                      </button>
                      <button class="btn btn-sm btn-warning" title="Exporta a Excel" (click)="exportToExcel()">
                        <i class="bi bi-file-earmark-excel"></i>
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive mt-2">
                      <table class="table align-items-center table-flush" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead class="thead-light" id="thead-table">
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">
                              Acciones
                            </th>
                          </tr>
                          <tr>
                            <th><input type="text" class="form-control form-control-placeholder" placeholder="Buscar por nombre" name="search-name" (keyup)="searchData($event)"/></th>
                            <th><input type="text" class="form-control form-control-placeholder" placeholder="Buscar por email" name="search-email" (keyup)="searchData($event)"/></th>
                            <th><input type="text" class="form-control form-control-placeholder" placeholder="Buscar por teléfono" name="search-phone" (keyup)="searchData($event)"/></th>
                            <th><input type="text" class="form-control form-control-placeholder" placeholder="Buscar por dirección" name="search-address" (keyup)="searchData($event)"/></th>
                            <th>
                            </th>
                          </tr>
                        </thead>
                        <tbody id="tbody-table">
                          <tr *ngFor="let item of data">
                              <td class="align-middle">
                                <span class="avatar avatar-sm rounded-circle" style="align-items: normal !important;">
                                  <img alt="business" [src]="item?.logo" appBrokenImagen>
                                </span>
                                <span class="business_name">{{ item?.nombre }}</span>
                              </td>
                              <td class="align-middle">{{ item?.email }}</td>
                              <td class="align-middle">{{ item?.telefono }}</td>
                              <td class="align-middle">{{ item?.direccion }}</td>
                              <td class="text-right align-middle">
                                <button class="btn btn-sm text-orange"  placement="left" ngbTooltip="Editar"  (click)="onEdit(item)">
                                  <i class="bi bi-pencil-square"></i>
                                </button>
                                <button class="btn btn-sm text-danger" placement="left" ngbTooltip="Eliminar"  (click)="onDelete(item)">
                                  <i class="bi bi-x-circle"></i>
                                </button>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
                <!-- FORM -->
                <div *ngIf="showForm">
                  <app-add-business [business]="businessSelected" (goBack)="close($event)"></app-add-business>
                </div>
            </div>
        </div>
    </div>
</div>
