

  <div class="row ml-2 mr-2">
    <h3 class="mt-2 ml-2">Detalle Ganador Por Ruta
    </h3>
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
      <button class="btn btn-sm btn-warning" title="Exporta a PDF" (click)="exportToPDF()">
        <i class="bi bi-filetype-pdf"></i>
      </button>
      <button class="btn btn-sm btn-warning" title="Exporta a Excel" (click)="exportToExcel()">
        <i class="bi bi-file-earmark-excel"></i>
      </button>
      <button class="btn btn-sm btn-danger" title="Cerrar" (click)="closeModal()" >
        <i class="bi bi-x"></i>
      </button>
    </div>
  </div>
<div mat-dialog-content>
    <div class="table-responsive mt-2">
  <table class="table align-items-center table-flush" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead class="thead-light" id="thead-table">
      <tr>
        <th scope="col" class="text-center">Fecha</th>
        <th scope="col" class="text-center">Sorteo</th>
        <th scope="col" class="text-center">Vendedor</th>
        <th scope="col" class="text-center">Ruta</th>
        <th scope="col" class="text-center">Ganador</th>
        <th scope="col" class="text-center">Ventas Totales</th>
        <th scope="col" class="text-center">Premios</th>
        <th scope="col" class="text-center">Utilidad</th>
      </tr>
      <tr>
        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-fecha" (keyup)="searchData($event)"/></th>
        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-sorteo" (keyup)="searchData($event)"/></th>
        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-vendedor" (keyup)="searchData($event)"/></th>
        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-ruta" (keyup)="searchData($event)"/></th>
        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-ganador" (keyup)="searchData($event)"/></th>
        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-ventas" (keyup)="searchData($event)"/></th>
        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-premios" (keyup)="searchData($event)"/></th>
        <th scope="col" class="text-center"><input type="text" class="form-control form-control-placeholder" placeholder="Buscar" name="search-utilidad" (keyup)="searchData($event)"/></th>
      </tr>
    </thead>
    <tbody id="tbody-table">
      <tr *ngFor="let item of data">
        <td class="text-center">{{ item?.fecha |  date:'dd/MM/yyyy' }}</td>
        <td class="text-center">{{item.sorteo.nombre}}</td>
        <td class="text-center">{{item.vendedor.nombre}}</td>
        <td class="text-center">{{item.ruta.nombre}}</td>
        <td class="text-center">{{item.numeroGanador}}</td>
        <td class="text-center">{{item.ventasTotales}}</td>
        <td class="text-center">{{item.premioTotal}}</td>
        <td class="text-center">{{item.utilidad}}</td>
      </tr>
    </tbody>
  </table>
    </div>
</div>

