<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-2 col-sm-1 col-xs-12"></div>
    <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 col-xs-12">
        <div class="mt-4">
            <h4>{{ 'MODULES.BUSINESS.ADD' | translate }}</h4>
        </div>
        <form [formGroup]="businessForm" (submit)="onSubmit()">
            <!-- Name -->
            <div class="form-group">
                <label for="" class="form-label">{{ 'MODULES.BUSINESS.NAME' | translate }} <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="nombre"/>
            </div>
            <!-- Phone -->
            <div class="form-group">
                <label for="" class="form-label">{{ 'MODULES.BUSINESS.PHONE' | translate }} <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="telefono"  [mask]="'(000) 0000 0000'"
                        onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"/>
            </div>
            <div class="text-center mb-5">
                <button class="btn btn-sm btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>