
<div class="modal-dialog modal-m" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Cambiar Limite</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="formChangeLimiteXroute">
               
                <!-- <div class="col-12">
                    <div class="mb-3">
                        <label class="small mb-1" for="inputBusiness">Numeros: <span class="text-danger">*</span></label>
                        <ng-select #PerfilSelect [items]="perfilData" [selectOnTab]="true"
                            bindValue="id" bindLabel="name" placeholder="Seleccione Perfil" formControlName="id_profile">
                        </ng-select>
                 <span *ngIf="validInput('id_profile')" class="text-danger mt-2">
                            This field is required.
                        </span> 
                </div> -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Favorite Fruits</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter fruits">
                      <mat-chip-row *ngFor="let fruit of fruits"
                                    (removed)="remove(fruit)"
                                    [editable]="true"
                                    (edited)="edit(fruit, $event)"
                                    [aria-description]="'press enter to edit ' + fruit.name">
                        {{fruit.name}}
                        <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      <input placeholder="New fruit..."
                             [matChipInputFor]="chipGrid"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="addOnBlur"
                             (matChipInputTokenEnd)="add($event)"/>
                    </mat-chip-grid>
                </mat-form-field>

                <div class="col-12 mt-2">
                    <label class="small mb-1" for="inputPassword">Last Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1Last" placeholder=""
                           formControlName="lastName" autocomplete="off">
                    <!-- <span *ngIf="validInput('lastName')" class="text-danger mt-2">
                        Required field
                    </span> -->
                </div>
                <div class="mt-4 mb-0 text-center">
                    <button class="btn btn-primary"
                        >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- materia-->
<!-- <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Numeros</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter numero">
      <mat-chip-row
        *ngFor="let numero of numero"
        (removed)="remove(numero)"
        [editable]="true"
        (edited)="edit(numero, $event)"
        [aria-description]="'press enter to edit ' + numero.name"
      >
        {{numero.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + numero.name">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input
        placeholder="Nuevo numero..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-grid>
  </mat-form-field> -->
  