
<div class="modal-dialog modal-m" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Cambiar Limite</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal(true)"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="formChangeLimiteXroute">
                <!--numeros de la ruta-->
      
                <div class="mt-4 mb-0 text-center">
                    <button class="btn btn-danger" (click)="closeModal(true)">
                        Cerrar
                    </button>
                    <button class="btn btn-primary">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
  