
<div class="modal-dialog modal-m" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Liberar Numeros de Rutas</h5>
            <i class="bi bi-x-circle" (click)="closeModal(true)" style="cursor: pointer;"></i>
        </div>
        <div class="modal-body">
            <form  [formGroup]="formfreeNumberToBusiness">
                <!--numeros de la ruta-->
                    <div class="mb-3">
                    <label class="small mb-1"  for="inputBusiness">Numeros: <span class="text-danger">*</span></label>
                        <div class="border" style="font-size: small;">
                          <tag-input [(ngModel)]='items' secondaryPlaceholder="ingrese numeros"
                                    formControlName="numeros" theme='bootstrap' style="margin-left: 5px !important"></tag-input>
                           <span *ngIf="validInput('numeros')" class="text-danger mt-2">
                            este campo es requerido
                           </span>        
                        </div>
                    </div>
                    <div class="mb-3" tyle="font-size: small;">
                        <label class="small mb-1"  for="inputBusiness">Negocios: <span class="text-danger">*</span></label>
                        <ng-select #rutasSelect [items]="BusinessData" [selectOnTab]="true" [multiple]="true" name="negocios"
                            bindValue="id" bindLabel="nombre" placeholder="Seleccione negocios" formControlName="negocios"
                            [selectableGroup]="true">
                        </ng-select>
                        <span *ngIf="validInput('negocios')" class="text-danger mt-2">
                           este campo es requerido
                        </span>
                    </div>                
                <div class="mt-4 mb-0 text-center">
                    <button class="btn btn-danger" (click)="closeModal(true)">Cerrar</button>
                    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="formfreeNumberToBusiness.invalid">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
  