<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{ "MODULES.USER.CHANGE-PASS" | translate }}</h5>
    </div>
    <div class="modal-body">
      <form [formGroup]="formChangePassword" (ngSubmit)="onSave()">
        <div class="row">
          <div class="col-12">
            <!-- password -->
            <div class="form-group">
              <label for="" class="form-label"
                >{{ "MODULES.USER.PASSWORD" | translate }}
                <span class="text-danger">*</span></label
              >
              <input
                [type]="inputType"
                class="form-control"
                formControlName="password"
                autocomplete="auto-password"
              />
              <span *ngIf="validInput('password')" class="text-danger mt-1">
                {{ "VALIDATIONS.REQUIRED_FIELD" | translate }}
              </span>
              <button
                class="btn btn-sm btn-eye"
                type="button"
                (click)="onShowPassword(true)"
              >
                <i
                  [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                ></i>
              </button>
            </div>
          </div>
          <div class="col-12 mt-2">
            <!-- confirm password -->
            <div class="form-group">
              <label for="" class="form-label"
                >{{ "MODULES.USER.PASSWORD-CONFIRM" | translate }}
                <span class="text-danger">*</span></label
              >
              <input
                [type]="inputType2"
                class="form-control"
                formControlName="confirm_password"
                autocomplete="auto-confirm_passwrod"
              />
              <span
                *ngIf="validInput('confirm_password')"
                class="text-danger mt-1"
              >
                {{ "VALIDATIONS.REQUIRED_FIELD" | translate }}
              </span>
              <button
                class="btn btn-sm btn-eye"
                type="button"
                (click)="onShowPassword()"
              >
                <i
                  [ngClass]="showPassword2 ? 'fa fa-eye-slash' : 'fa fa-eye'"
                ></i>
              </button>
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <button type="button" class="btn btn-secondary" (click)="close()">
            Cerrar
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="formChangePassword.invalid">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
