<div *ngIf="showMenu">
  <!-- always keep -->
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Contents -->
  <div class="container-fluid mt--9">
       <div class="row">
        <div class="col-12 mb-5 mb-xl-0">
            <div class="card shadow" id="card-container-tables">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Switch background -->
                            <label class="switch float-right">
                                <input type="checkbox" id="toggleTable" appToggleTable>
                                <span class="slider round"></span>
                            </label>
                            <h4 id="title-table" class="text-uppercase ls-1 mb-1">Reportes</h4>
                        </div>
                        <div></div>
                    </div>
                </div>
                <!-- CARD -->
                <div class="container mb-5">
                     <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6 col-xs-12 mt-4">
                        <a routerLink="./recibos-normales/false">
                          <div class="card card-stats mb-4 mb-lg-0" >
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h5 class="card-title text-uppercase text-muted mb-0">Recibos</h5>
                                  <span class="h2 font-weight-bold mb-0">Ventas</span>
                                </div>
                                <div class="col-auto">
                                  <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                    <i class="fas fa-chart-pie"></i>
                                  </div>
                                </div>
                              </div>
                              <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                                <span class="text-nowrap">Ventas Normales</span>
                              </p>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6 col-xs-12  mt-4">
                        <a routerLink="./recibos-especiales">
                            <div class="card card-stats mb-4 mb-lg-0">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Recibo</h5>
                                    <span class="h2 font-weight-bold mb-0">Ventas</span>
                                  </div>
                                  <div class="col-auto">
                                    <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                      <i class="fas fa-chart-bar"></i>
                                    </div>
                                  </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                                  <span class="text-nowrap">Ventas Especiales</span>
                                </p>
                              </div>
                            </div>
                        </a>
                      </div>
                </div>
            </div>
        </div>
    </div>
     </div>
  </div>
  </div>


  <!-- Incorporacion de routes -->
  <router-outlet></router-outlet>
