/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.text-dark {
    color: #172b4d !important
}

.form-control {
    height: calc(1em + 1rem + 2px) !important;
}

#DataTables_Table_0_filter {
    display: none !important;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    color: #172b4d;
}

.form-group {
    margin-bottom: 1rem !important;

    span {
        font-size: 11px;
        color: #172b4d;
    }
}

.form-control-placeholder::placeholder {
    font-size: 12px;
}

button i {
    font-size: 18px;
}

/* Switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(142, 142, 142);
    -webkit-transition: .4s;
    transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

input:checked + .slider {
    background-color: #5955ae ;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5955ae ;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
