<!-- always keep -->
<div class="header bg-gradient-danger pb-4 pt-4 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<br class="mt-2">

<div class="container-fluid">

  <div *ngIf="disabledActions">
    <div class="alert alert-danger" role="alert">
      <strong>¡Atención!</strong> El sorteo se encuentra cerrado.
    </div>
  </div>

  <div id="div-carousel-extra">
    <ngx-slick-carousel class="carousel" #slickModalExtra="slick-carousel" [config]="slideConfig">
      <!-- Sales -->
      <div ngxSlickItem>
        <div class="card">
          <div class="card-header text-center">
            <h2 class="mb-0">TICKETS</h2>
            <h2 class="mt-2">{{ currentRaffle?.nombre }}</h2>
          </div>
          <div class="card-body" style="padding-top: 0px;">
            <div class="row mt-2">
              <div class="col-6 text-center">
                Limite: <strong class="text-bold"  style="font-size: 16px !important;">{{ limit }}</strong>
              </div>
              <div class="col-6 text-center">
                Vendidos: <strong class="text-bold"  style="font-size: 16px !important;"> {{ amount_sold }}</strong>
              </div>
            </div>
            <!-- FORMULARIO -->
            <form [formGroup]="formSale" (submit)="onSave()">
              <div class="row mt-4">
                <div class="col-6">
                  <!-- Form control numero -->
                  <div class="form-group text-center">
                    <label for="exampleFormControlInput1" style="font-size: 16px !important;">Número</label>
                    <input type="number" class="form-control" style="height: 38px !important; font-size: 16px !important;"
                        formControlName="number" #InputNumberExtra (change)="onChange()" (keyup)="onChangeFocus($event)"
                        (focus)="isInputFocused = true">
                  </div>
                </div>
                <div class="col-6">
                  <!-- Form control monto -->
                  <div class="form-group text-center">
                    <label for="exampleFormControlInput1" style="font-size: 16px !important;">Monto</label>
                    <input type="number" class="form-control" #InputAmountExtra style="height: 38px !important; font-size: 16px !important;"
                          formControlName="amount"  (focus)="isInputFocused = true">
                  </div>
                </div>
              </div>
              <!-- Btn Agregar -->
              <div class="text-right mt-2">
                <a routerLink="../recibos/3">
                  <button  class="btn btn-sm btn-success mr-2" style="font-size: 16px !important;">
                    Detalle de Ventas
                  </button>
                </a>
                <button type="submit" class="btn btn-sm btn-primary" style="font-size: 16px !important;">
                  Agregar
                </button>
              </div>
            </form>
            <!-- END FORMS -->
          </div>
        </div>
      </div>
      <!-- Table -->
      <div ngxSlickItem >
        <div class="card">
          <div class="card-body" style="padding-top: 20px;">
            <h3 class="text-center">{{ business?.negocio }}</h3>
            <h5 class="text-center">{{ identity?.nombre }}</h5>
            <!-- Integrate table -->
            <table class="table">
              <caption></caption>
              <thead>
                <tr>
                  <th scope="col" class="text-center" style="font-size: 16px !important;">Número</th>
                  <th scope="col" class="text-center" style="font-size: 16px !important;">Monto</th>
                  <th scope="col" class="text-center" style="font-size: 16px !important;">Premio</th>
                  <th scope="col" class="text-center" style="font-size: 16px !important;">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listSales; let i = index">
                  <td class="align-middle text-center" style="font-size: 14px !important;">{{ item?.number }}</td>
                  <td class="align-middle text-center" style="font-size: 14px !important;">{{ item?.amount }}</td>
                  <td class="align-middle text-center" style="font-size: 14px !important;">{{ item?.prize }}</td>
                  <td class="align-middle text-center" style="font-size: 14px !important;">
                    <button class="btn btn-sm text-danger" (click)="onRemove(item, i)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- End integrate table -->
           <!-- End integrate table -->
           <div class="mt-2">
              <button type="button" style="float: left;" class="btn btn-sm btn-primary" (click)="connectBluetooth()">
                <i class="bi bi-bluetooth"></i>
              </button>
              <button type="button" style="float: right;" class="btn btn-success" (click)="onSaveAll()">
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
