<!-- always keep -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>

<br class="mt-5">
<div class="row m-2">

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm6 col-xs-12">
        <!-- CARD -->
        <div class="card p-2">
            <div class="card-header text-center">
                <h5>Formulario de Ventas</h5>
            </div>
            <form action="">

                <!-- Time -->
                <div class="row">
                    <div class="col-6">

                        <select name="" id="" class="form-control">
                        </select>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary">Limite</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary">Actual</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary">Premio</button>
                    </div>
                </div>

                <!-- Numbers -->
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control" name="" id="" placeholder="Número">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="" id="" placeholder="Monto">
                    </div>
                </div>
                <!-- Actions -->
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary">Cancelar</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm6 col-xs-12">
    </div>
</div>