@media (min-width: 992px) {
  /* Agrega la clase 'active' a los dos primeros elementos de la clase 'item' */
  .carousel-item:nth-of-type(1), .carousel-item:nth-of-type(2) {
    display: block;
    position: relative;
  }

  .carousel-item:nth-of-type(1) {
    left: 0;
    width: 50%;
  }

  .carousel-item:nth-of-type(2) {
    left: 50%;
    width: 50%;
    // transform: translateX(-50%);
  }

  .carousel-item:nth-of-type(n+3) {
    display: none;
  }
}


.carousel-control-prev {
  justify-content: left !important;
  left: -18px;
  i {
    font-size: 28px;
    color: red;
  }
}
.carousel-control-next {
  justify-content: right !important;
  right: -18px;
  i {
    font-size: 28px;
    color: red;
  }
}

