<!-- always keep -->
<div class="header bg-gradient-danger pb-4 pt-4 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>
<br class="mt-2">

<div class="container-fluid">

  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <!-- Sales -->
    <div ngxSlickItem style="padding-right: 5px;">
      <div class="text-right">
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Números
        </button>
        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Recibos
        </button>
      </div>
      <div class="card">
        <div class="card-header text-center">
          <h3 class="mb-0">Formulario de Ventas</h3>
          <h2 class="mt-2">{{ currentRaffle?.nombre }}</h2>
        </div>
        <div class="card-body" style="padding-top: 0px;">
          <div class="row mt-2">
            <div class="col-6">
              Limite: <strong class="text-bold">{{ limit }}</strong>
            </div>
            <div class="col-6">
              Vendidos: <strong class="text-bold"> {{ amount_sold }}</strong>
            </div>
          </div>
          <!-- FORMULARIO -->
          <form [formGroup]="formSale" (ngSubmit)="onSave()">
            <div class="row mt-4">
              <div class="col-6">
                <!-- Form control numero -->
                <div class="form-group">
                  <label for="exampleFormControlInput1">Número</label>
                  <ng-select formControlName="number" #InputNumber (change)="onChange()">
                    <ng-option *ngFor="let num of numberList" [value]="num">{{num}}</ng-option>
                  </ng-select>
                </div>
                <span class="text-danger" *ngIf="validateInput('number')">
                  El número es obligatorio
                </span>
              </div>
              <div class="col-6">
                <!-- Form control monto -->
                <div class="form-group">
                  <label for="exampleFormControlInput1">Monto</label>
                  <input type="number" class="form-control" #InputAmount style="height: 38px !important;"
                  placeholder="Monto" formControlName="amount">
                  <span class="text-danger" *ngIf="validateInput('amount')">
                    El monto es obligatorio
                  </span>
                </div>
              </div>
            </div>
            <!-- Btn Agregar -->
            <div class="text-right mt-2">
              <button type="submit" class="btn btn-sm btn-primary">
                Agregar
              </button>
            </div>
          </form>
          <!-- END FORMS -->
        </div>
      </div>
    </div>
    <!-- Table -->
    <div ngxSlickItem style="margin-top: 18px;">
      <div class="card mt-4">
        <div class="card-body" style="padding-top: 0px;">
          <h3 class="text-center">Rifas Dias</h3>
          <h5 class="text-center">Vendedor: <span>User</span></h5>
          <h5 class="text-center">Boleto #: <span>JNASDASD</span></h5>
          <!-- Integrate table -->
          <table class="table">
            <caption></caption>
            <thead>
              <tr>
                <th scope="col">Número</th>
                <th scope="col">Monto</th>
                <th scope="col">Premio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listSales">
                <td class="align-middle">10</td>
                <td class="align-middle">10</td>
                <td class="align-middle">800</td>
                <td class="align-middle">
                  <button class="btn btn-sm text-danger">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>

</div>
